$mdc-theme-primary: #1565c0; // primary color
$mdc-theme-secondary: #388e3c; // secondary color

@import '~@angular-mdc/theme/material';

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.content{
    margin-top:100px;
}

