<div class="content">
  <div class=".scenarioForm">
    <div class="formRow">
      <div mdcCaption>Scenario name:</div>
      <mdc-form-field #demoFluid fluid>
        <mdc-text-field outlined></mdc-text-field>
      </mdc-form-field>
    </div>

    <div class="formRow">
        <div mdcCaption>Docker image:</div>
      <mdc-form-field #demoFluid fluid>
        <mdc-text-field outlined></mdc-text-field>
      </mdc-form-field>
    </div>

    <div class="formRow">
      <div mdcCaption>Configuration:</div>
      <div class="mdc-text-field mdc-text-field--textarea mdc-text-field--fullwidth">
        <textarea id="textarea" class="mdc-text-field__input" rows="8" cols="40"></textarea>
        <div class="mdc-notched-outline">
          <div class="mdc-notched-outline__leading"></div>
          <div class="mdc-notched-outline__trailing"></div>
        </div>
      </div>
      <div class="formRow">
  </div>

  <div class="formRow">
    <button (click)="save()" mdc-button primary>Save</button>
    <a href="/scenarios" mdc-button>Cancel</a>
  </div>
</div>
