<div class="content">
    <div>
        <button mdc-button primary raised>Add Scenario</button>
    </div>
    
    <table mat-table [dataSource]="dataSource" class="full-width-table">

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Scenario </th>
            <td mat-cell *matCellDef="let scenario"> {{scenario.name}} </td>
        </ng-container>
        
        <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef> State </th>
            <td mat-cell *matCellDef="let scenario"> {{scenario.state}} </td>
            </ng-container>
        
            <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let scenario">
                <button (click)="start(scenario)" mdcIconButton disabled>
                    <mdc-icon>play_arrow</mdc-icon>
                </button>
                <button (click)="stop(scenario)" mdcIconButton disabled>
                    <mdc-icon>stop</mdc-icon>
                </button>
                <a routerLink="/scenarios/{{scenario.id}}">
                    <mdc-icon>edit</mdc-icon>
                </a>
            </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
